<content class="host">
  <form 
    class="sign-in-box"
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"
  >
    <h3>サインイン</h3>
    <div class="git-code">
      <div class="code-wrapper">
        <mat-form-field>
          <input 
            autofocus="true"
            autocomplete="off"
            formControlName="giftCode1"
            type="text"
            minlength="4"
            maxlength="4"
            matInput
            name="giftCode1"
            required
          >
        </mat-form-field>
      </div>
      <div class="code-wrapper">
        <mat-form-field>
          <input 
            autocomplete="off"
            formControlName="giftCode2"
            type="text"
            minlength="4"
            maxlength="4"
            matInput
            name="giftCode2"
            required
          >
        </mat-form-field>
      </div>
      <div class="code-wrapper">
        <mat-form-field>
          <input 
            autocomplete="off"
            formControlName="giftCode3"
            type="text"
            minlength="4"
            maxlength="4"
            matInput
            name="giftCode3"
            required
          >
        </mat-form-field>
      </div>
      <div class="code-wrapper">
        <mat-form-field>
          <input 
            autocomplete="off"
            formControlName="giftCode4"
            type="text"
            minlength="4"
            maxlength="4"
            matInput
            name="giftCode4"
            required
          >
        </mat-form-field>
      </div>
    </div>
    <div class="submit-area">
      <div class="flexible-space"></div>
      <button 
        mat-raised-button
        type="submit"
      >
        sign-in
      </button>
    </div>
  </form>
</content>
