.host {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    height         : calc(100vh - 90px);
    justify-content: center;
    margin         : 90px 80px 0 80px;
    top            : 52px;
}

.sign-in-box {
    align-items     : center;
    background-color: rgba(255, 214, 173, 0.9);
    box-shadow      : 0 0 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    border-radius   : 2rem;
    display         : flex;
    flex-direction  : column;
    height          : 200px;
    justify-content : space-evenly;
    max-height      : 200px;
    max-width       : 400px;
    min-height      : 200px;
    min-width       : 400px;
    padding         : 15px;
    width           : 400px;
}

.git-code {
    align-items    : center;
    display        : flex;
    justify-content: center;
}

.submit-area {
    display: flex;
}

.flexible-space {
    flex-grow: 1;
}

input[type="text"]:first-child {
    margin-left : 0;
}

input[type="text"]:last-child {
    margin-right: 0;
}

input[type="text"] {
    background-color: transparent;
    border-bottom   : 1px solid #333;
    border-left     : none;
    border-right    : none;
    border-top      : none;
    font-size       : 1rem;
    margin          : 24px 6px;
    outline         : 0;
    padding         : 0;
    text-align      : center;
    transition      : all .3s ease-out;
    width           : 4rem;
}

.code-wrapper {
    align-items     : center;
    background-color: rgba(255,178,255, 0.7);
    border-radius   : 50%;
    display         : flex;
    justify-content : center;
    margin          : 0 -0.5rem;
    min-width       : 6rem;
    max-width       : 6rem;
    min-height      : 6rem;
    max-width       : 6rem;
}

input[type="text"]:focus {
    border-bottom: 1px solid rgba(127, 158, 208, 1);
}
