@charset "UTF-8";
* {
	padding: 		0;
	margin:  		0;
	font-family:	"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.box, #purchase {
	width:				100%;
	height:				150px;
	text-align: 		center;
	font-size:			x-large;
	background-color:	#D28E48;
}

.area {
		height: 600px;
}

#top {
	height:				700px;
	background-image:	url("../image/BackImage.png");
}

#buyButton_1 {
	position:	absolute; 
	bottom:		50px;
	left:		120px;
}

#leftArea {
	float:				left;
	width:				20%;
	background-color:	white;
}

#rightArea {
	float:				right;
	width:				69%;
	background-color:	#F0E68C;
	text-align: center;
}

.float::after {
	content:	'';
	display:	table;
	clear:		 both;
}

#tokutyou {
	width:				100%;
	height:				700px;
	text-align:			center;
	background-color:	#975520;
}

#circle_1 {
	position:	relative; 
	top:		-300px;
	left:		50px;
}

#circle_2 {
	position:	relative; 
	top:		0px;
	left:		-205px;
}

#square_tkc {
	position:	relative; 
	top:		10px;
	left:		-125px;
}

#circle_3 {
	position:	relative; 
	top:		-300px;
	right:		50px;
}

#circle_4 {
	position:	relative; 
	top:		-250px;
	right:		-419px;
}

#shiyou {
	width:				100%;
	height:				700px;
	text-align:			center;
	background-color:	#CEC4A5;
}

#square_sy {
	position:	relative;
	top:		10px;
	left:		-300px;
	overflow: hidden;
}

#shiyou_image {
	margin: 0px 0px 0px 470px; 
	width: 200px;
	float: left;
}

#shiyou_text {
	width: 500px;
	overflow: hidden;
	font-size: 20px;
}

.float::after {
	content:	'';
	display:	table;
	clear:		 both;
}

#purchase {
	height:	200px;
}

footer{
	text-align: 		center;
	background-color:	#4C3D26 ;
}
