.container {
  width: 500px;
  height: 300px;
  background: white;
  padding-top: 1cm;
  padding-left: 4cm;
  float: left;
}

.single-item {
  width: 250px;
  height: 150px;
  color: #419be0;
  background: white;
}
