<section class="host">
  <app-list>
    <div class="cart-management-header">
      <app-button bgType="flat" (click)="clearCart()">
        空にする
      </app-button>
      <span class="flexible-space"></span>
      <app-button bgType="flat" routerLink="/settlement">
        レジに進む
      </app-button>
    </div>
    <app-list-item *ngFor="let struct of structs" class="item">
      <div class="item-content">
        <a class="img-wrapper" routerLink="/products/{{struct.product.id}}">
          <img src="{{struct.product.image_url}}">
        </a>
        <div class="product-info">
          <a routerLink="/products/{{struct.product.id}}">{{struct.product.name}}</a>
          <div>{{struct.product.overview}}</div>
        </div>
        <div>
          <div>単価 : {{struct.product.price}} 円</div>
          <app-button bgType="flat" fontColor="black" (click)="clearCartById(struct.product.id)">
            削除
          </app-button>
        </div>
      </div>
    </app-list-item>
  </app-list>
</section>
