<section class="host">
  <app-list>
    <div class="cart-management-header">
      <app-button bgType="flat" (click)="clearCart()">
        空にする
      </app-button>
      <span class="flexible-space"></span>
      <app-button bgType="flat" routerLink="/settlement">
        レジに進む
      </app-button>
    </div>
    <app-list-item *ngFor="let struct of structs" class="item">
      <div class="item-content">
        <a class="img-wrapper" routerLink="/products/{{struct.product.id}}">
          <img src="{{struct.product.image_url}}">
        </a>
        <div class="product-info">
          <a routerLink="/products/{{struct.product.id}}">{{struct.product.name}}</a>
          <div>{{struct.product.overview}}</div>
        </div>
        <div>
          <div>単価 : {{struct.product.price}} 円</div>
          <div>個数 : {{struct.count}}</div>
          <select ngModel="selectedYear" ngOptions="let year of years"></select>
<!-- 
          <select name="count"  (change)="chageCount(struct.product.id, $event)" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" ngSelected="true">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select> -->
          <app-button bgType="flat" fontColor="black" (click)="clearCartById(struct.product.id)">
            削除
          </app-button>
        </div>
      </div>
    </app-list-item>
  </app-list>
</section>
