.host {
    align-items   : center;
    display       : flex;
    flex-direction: column;
    margin-top    : 2rem;
}

.cart-management-header {
    align-items     : center;
    background-color: rgba(106, 140, 199, 1);
    display         : flex;
    padding         : .5rem 24px;
    z-index         : 1;
}

.cart-management-header button {
    color: white;
}

.flexible-space {
    flex-grow: 1;
}

app-list {
    background-color: #fafbfd;
    margin-bottom   : 80px;
    min-width       : 800px;
    width           : 80%;
}

.img-wrapper {
    align-items    : center;
    display        : flex;
    justify-content: center;
    margin         : 1rem; 
    max-height     : 120px;
    max-width      : 200px;
    min-height     : 120px;
    min-width      : 200px;
    overflow       : hidden;
}

img {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    max-height         : 120px;
    max-width          : 200px;
    transition         : all .2s ease-out;
}

app-list-item+app-list-item {
    border-top: solid 1px #ccc;
}

.item-content {
    display: flex;
}

.item-content > :first-child {

}

.item-content > :nth-child(2) {
    flex-grow  : 1;
    margin-left: 1rem;
}

.item-content > :last-child {
    align-items    : flex-end;
    display        : flex;
    flex-direction : column;
    flex-grow      : 1;
    font-size      : 0.9rem;
    justify-content: center;
    margin-left    : 1rem;
    width          : 200px;
}

.item-content > :last-child > :last-child {
    align-items    : center;
    display        : flex;
    justify-content: center;
    margin-top     : 1rem;
}

.product-info {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.mat-form-field {
    width: 80px !important;
}

.mat-select-value {
    max-width: 100%;
    width: auto;
}  
