@charset "shift_jis";

/* 一括で全ての要素の余白をゼロに指定 */
* {
  margin: 200;
  padding: 0;
}

/* 全体的なリンク */

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #00f; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

/* -------------------------------------------------------------
   [1] レイアウトに関する指定 */
body {
  font-size: 120%;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
  background-color: red;
}

/*-- 全体を囲んでいます --*/
#wrapper {
  text-align: left;
  width: 800px;
  margin: 0 auto;
  background: url(img/bg-wrapper.jpg) repeat-y -50px 0;
  border-right: 1px solid #39f;
}

/* -------------------------------------------------------------
   [2] ヘッダーブロック内に関する指定 */

/* 見出し */

h1 {
  font-size: 270%;
  font-weight: normal;
  text-align: center;
  position: absolute;
  left: 270px;
  color: #39f;
}

/* -------------------------------------------------------------
   [3] コンテンツブロック内に関する指定 */

/* 見出し */
h2,
h3,
h4,
h5,
h6 {
  font-size: 160%;
  font-weight: normal;
  margin-bottom: 0.5em;
  color: #036;
}