<!--The content below is only a placeholder and can be replaced.-->
<header class="{{headerClass}}">
  <div>
    <a routerLink="/">IS09 EC-SITE</a>
  </div>
  <span class="spacer"></span>
  <span class="cartAddMessage" *ngIf="cartAddMessage">{{cartAddMessage}}</span>
  <button 
    mat-button
    routerLink="/cart" 
  >
    <mat-icon>add_shopping_cart</mat-icon>
    cart
  </button>
  <div *ngIf="authentication; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <button  
      mat-button
      routerLink="/my-page" 
    >
      <mat-icon>account_circle</mat-icon>
      my-page
    </button>
  </ng-template>
  <ng-template #elseBlock>
    <button
      mat-button
      routerLink="/sign-in" 
    >
      sign-in
    </button>
  </ng-template>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>

