.host {
    align-items   : center;
    display       : flex;
    flex-direction: column;
    margin        : 0 40px;
}

h2 {
    border-bottom : 2px solid rgba(106, 140, 199, 1);
    letter-spacing: 0.2rem;
    margin        : 8px;
    padding-bottom: 2px;
    text-align    : center;
    width         : fit-content;
}

.item-wrapper {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    max-width      : 250px;
    min-width      : fit-content;
}

.img-wrapper {
    align-items    : center;
    display        : flex;
    justify-content: center;
    max-height     : 150px;
    max-width      : 250px;
    min-height     : 150px;
    min-width      : 250px;
    overflow       : hidden;
}

img {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    max-height         : 150px;
    max-width          : 250px;
    min-height         : 150px;
    min-width          : 250px;
    transition         : all .2s ease-out;
}

img:hover {
    transform: scale(1.2);
}

.item {
    display       : flex;
    flex-direction: column;
    margin        : 20px;
    width         : 250px;
}

.product-information {
    align-items   : flex-end;
    display       : flex;
    flex-direction: column;   
}

.product-name {
    font-size : 1.2rem;
    text-align: right;
    width     : fit-content;
}

.product-overview {
    font-size : 0.8rem;
    text-align: left;
}
