.host {
    align-items   : center;
    display       : flex;
    flex-direction: column;
    padding-top   : 2rem;
}

.my-page-header {
    align-items     : center;
    background-color: rgba(106, 140, 199, 1);
    color           : #fafbfd;
    display         : flex;
    padding         : .5rem 24px;
    z-index         : 1;
}

.my-page-subheader {
    align-items     : center;
    background-color: rgb(130, 155, 197);
    color           : #fafbfd;
    display         : flex;
    padding         : .1rem 24px;
    z-index         : 2;
    max-height      : 2.7rem 
}

.flexible-space {
    flex-grow: 1;
}

app-list {
    background-color: #fafbfd;
    margin-bottom   : 80px;
    width           : 80%;
}

.img-wrapper {
    align-items    : center;
    display        : flex;
    justify-content: center;
    margin         : 1rem; 
    max-height     : 9rem;
    max-width      : 15rem;
    min-height     : 9rem;
    min-width      : 15rem;
    overflow       : hidden;
}

img {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    max-height         : 9rem;
    max-width          : 15rem;
    transition         : all .2s ease-out;
}

app-list-item+app-list-item {
    border-top: solid 1px #ccc;
}

.item-content {
    display: flex;
}


.item-content > :last-child {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    flex-grow      : 1;
    font-size      : 0.9rem;
    justify-content: center;
    margin-left    : 1rem;
    max-width      : 180px;
    min-width      : 180px;
}

.item-content > :last-child > :last-child {
    align-items    : center;
    display        : flex;
    justify-content: center;
    margin-top     : 1rem;
}