<section class="host">
  <app-list>
    <mat-card class="my-page-header">
      <mat-card class="my-page-subheader">
        <div>注文番号<br>xxx-xxxx-xxxx</div>
      </mat-card>
      <mat-card class="my-page-subheader">
        <div>注文日<br>yyyy年mm月dd日hh時mm分</div>
      </mat-card>
      <span class="flexible-space"></span>
      <mat-card class="my-page-subheader">
        <div>合計<br>￥xxx,xxx</div>
      </mat-card>
    </mat-card>
    <app-llist-item class="item">
      
    </app-llist-item>


  </app-list>
</section>