<section class="host">
  <app-list *ngFor="let struct of structs">
    <mat-card class="my-page-header">
      <mat-card class="my-page-subheader">
        <div>注文番号<br>{{struct.id}}</div>
      </mat-card>
      <mat-card class="my-page-subheader">
        <div>注文日<br>{{struct.created_date}}</div>
      </mat-card>
      <span class="flexible-space"></span>
      <mat-card class="my-page-subheader">
        <div>合計<br>{{struct.totalFee}} 円</div>
      </mat-card>
    </mat-card>
    <app-list-item *ngFor="let product of struct.products" class="item">
      <div class="item-content">
        <a class="img-wrapper" routerLink="/products/{{product.id}}">
          <img src="{{product.image_url}}">
        </a>
        <div class="product-info">
          <a routerLink="/products/{{product.id}}"><mat-card-title>{{product.name}}</mat-card-title></a>
          <mat-card-subtitle>{{product.overview}}</mat-card-subtitle>
        </div>
        <div>
          <div class="price">
            <div><span>単価</span><span>{{product.price}} 円</span></div>
            <div></div>
            <div><span>合計金額</span><span>{{product.price * product.count}} 円</span></div>
          </div>
        </div>
      </div>
    </app-list-item>
  </app-list>
</section>
