<section class="host">
  <app-list>
    <mat-card class="my-page-header">
      <mat-card class="my-page-subheader">
        <div>注文番号<br>xxx-xxxx-xxxx</div>
      </mat-card>
      <mat-card class="my-page-subheader">
        <div>注文日<br>yyyy年mm月dd日hh時mm分</div>
      </mat-card>
      <span class="flexible-space"></span>
      <mat-card class="my-page-subheader">
        <div>合計<br>￥xxx,xxx</div>
      </mat-card>
    </mat-card>
    <app-list-item *ngFor="let struct of structs" class="item">
      <div class="item-content">
        <a class="img-wrapper" routerLink="/products/{{struct.product.id}}">
          <img src="{{struct.product.image_url}}">
        </a>
        <div class="product-info">
          <a routerLink="/products/{{struct.product.id}}"><mat-card-title>{{struct.product.name}}</mat-card-title></a>
          <mat-card-subtitle>{{struct.product.overview}}</mat-card-subtitle>
        </div>
        <div>
          <div class="price">
            <div><span>単価</span><span>{{struct.product.price}} 円</span></div>
            <div></div>
            <div><span>合計金額</span><span>{{struct.product.price * struct.count}} 円</span></div>
          </div>
        </div>
      </div>
    </app-list-item>
  </app-list>
</section>
<!--
    <app-list-item class="item">
      <div class="item-content">
        <a class="img-wrapper" routerLink="/products/{{struct.product.id}}">
          <img src="/assets/group-2.jpg">
        </a>
      </div>
      <div class="product-info">
        <a routerLink="/products/{{struct.product.id}}"><mat-card-title>{{struct.product.name}}</mat-card-title></a>
        <mat-card-subtitle>{{struct.product.overview}}</mat-card-subtitle>
      </div>
    </app-list-item>
    ---------------------------------------------
    <app-list-item class="item">
        <div class="item-content">
          <a class="img-wrapper" routerLink="/products/{{struct.product.id}}">
            <img src="/assets/group-2.jpg">
          </a>
          <div class="product-info">
            <a routerLink="/products/{{struct.product.id}}"><mat-card-title>Comeal</mat-card-title></a>
            <mat-card-subtitle>[学校を使いこなすコミュニケーションツール]/n学食の内容や、食事の感想を言い合うアプリが満を持して登場</mat-card-subtitle>
          </div>
          <div>
            <div class="price">
              <div><span>単価</span><span>2000 円</span></div>
              <div><span>合計金額</span><span>{{struct.product.price * struct.count}} 円</span></div>
            </div>
          </div>
        </div>
    </app-list-item>
    
  -->